
@{
    ViewBag.Title = "Index";
}

    <h2>Welcome</h2>
    <div class="col-md-6 table-bordered" style="min-height: 100px;">
        <div class="container-fluid">
            <div class="card-block">
                <h4 class="card-title" style="margin-top:40px">@Html.ActionLink("Click Here to update the patient details", "Patient", "Clerk")</h4>
            </div>
        </div>
    </div>
