@{
    ViewBag.Title = "Home Page";
}

<head>
    <link href="@Url.Content("~/Content/Background.css")" , rel="stylesheet" type="text/css" />
</head>

<body background="~/Content/Images/doctors.jpg">
    <div class="row">
        <div class="col-md-6" id="lorm_text">
            <h1> Patient Tracking systems</h1>
            
        </div>

    </div>
</body>
